body{
  margin: 0;
  padding: 0;
  font-family: Lora, Inter, sans-serif;
  background-color: #f4e9d2;
  color: #2a2a2a;
  height:100%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  line-height: 1.3;
  box-sizing: border-box;
}

button,
.btn-login,
.close-btn,
a,
.signup-link,
.forgot {
  cursor: pointer;
}
